In [157]:
import pandas as pd
from sklearn.metrics import cohen_kappa_score, accuracy_score, mean_absolute_error, f1_score

In [158]:
df_oof_lgb = pd.read_csv('lgb_oof.csv')
df_oof_xgb = pd.read_csv('xgb_oof.csv')
df_oof_ctb = pd.read_csv('ctb_oof.csv')

In [159]:
df_oof_lgb.columns = ['SaleID', 'price', 'lgb_pred']
df_oof_xgb.columns = ['SaleID', 'price', 'xgb_pred']
df_oof_ctb.columns = ['SaleID', 'price', 'ctb_pred']

In [160]:
df_oof_lgb.head()

   SaleID    price      lgb_pred
0      16  10500.0  10773.995003
1      46  10500.0   9643.338606
2      84    800.0    780.160871
3      96   7999.0   8019.005908
4     123    500.0    512.420235

In [161]:
df_oof_xgb.head()

   SaleID    price     xgb_pred
0      16  10500.0  10502.66500
1      46  10500.0   8754.69200
2      84    800.0    775.33110
3      96   7999.0   7980.46000
4     123    500.0    493.44427

In [162]:
df_oof_ctb.head()

   SaleID    price      ctb_pred
0      16  10500.0  10565.458370
1      46  10500.0   9459.590466
2      84    800.0    790.023118
3      96   7999.0   7968.064804
4     123    500.0    499.007675

In [163]:
del df_oof_lgb['price']
del df_oof_ctb['price']

In [164]:
df_oof = df_oof_xgb.merge(df_oof_lgb, on='SaleID', how='left')\
    .merge(df_oof_ctb, on='SaleID', how='left')
# df_oof = pd.concat([df_oof,df_oof_ctb],axis=1,on='SaleID')
# df_oof = df_oof..merge(df_oof_ctb, on='SaleID', how='left')

In [165]:
df_oof.head()

   SaleID    price     xgb_pred      lgb_pred      ctb_pred
0      16  10500.0  10502.66500  10773.995003  10565.458370
1      46  10500.0   8754.69200   9643.338606   9459.590466
2      84    800.0    775.33110    780.160871    790.023118
3      96   7999.0   7980.46000   8019.005908   7968.064804
4     123    500.0    493.44427    512.420235    499.007675

In [166]:
min_mae = 9999
minA, minB, minC = 0, 0, 0
for a in range(100):
    for b in range(100-a):
        c = 100-a-b
        df_oof['pred'] = a/100*df_oof['ctb_pred']+b/100 * \
            df_oof['xgb_pred'] + c/100 * df_oof['lgb_pred']
        mae = mean_absolute_error(df_oof['price'], df_oof['pred'])
        if(mae < min_mae):
            minA, minB, minC = a, b, c
            min_mae = mae
            print(min_mae, minA, minB, minC)

506.7871954319213 0 0 100
505.69258069203255 0 1 99
504.6098910663414 0 2 98
503.53900633978594 0 3 97
502.482456137547 0 4 96
501.4404090569076 0 5 95
500.4104205528012 0 6 94
499.39193551540495 0 7 93
498.3848614356749 0 8 92
497.3902400387673 0 9 91
496.4071851131735 0 10 90
495.43669303714165 0 11 89
494.47827647777893 0 12 88
493.5314085175084 0 13 87
492.59456709807534 0 14 86
491.6703950216719 0 15 85
490.76128718593566 0 16 84
489.86587909749665 0 17 83
488.98504428361923 0 18 82
488.11989125637484 0 19 81
487.2690116789742 0 20 80
486.4325626174301 0 21 79
485.6105164179341 0 22 78
484.8050321456683 0 23 77
484.0158684831106 0 24 76
483.24189458218586 0 25 75
482.48412605952836 0 26 74
481.74328572654844 0 27 73
481.0190867200623 0 28 72
480.3083619375255 0 29 71
479.6120710702793 0 30 70
478.9308742699033 0 31 69
478.2648671868688 0 32 68
477.6161300954596 0 33 67
476.9826399557807 0 34 66
476.3652509087028 0 35 65
475.76578357890753 0 36 64
475.18311462108085 0 37 63
474.6160069232587 0 38 62
474.06470422627905 0 39 61
473.5297347742665 0 40 60
473.0117112770816 0 41 59
472.5124230829725 0 42 58
472.03206237531435 0 43 57
471.5684294779052 0 44 56
471.1217954624163 0 45 55
470.69470595481476 0 46 54
470.28753803717433 0 47 53
469.89902211780696 0 48 52
469.5279486006371 0 49 51
469.1757662934455 0 50 50
468.8426464080104 0 51 49
468.5285644316235 0 52 48
468.23407148952066 0 53 47
467.96170071270046 0 54 46
467.7100026631997 0 55 45
467.47739866030537 0 56 44
467.26499968177967 0 57 43
467.07343409808783 0 58 42
466.9009559150816 0 59 41
466.7481233593061 0 60 40
466.61580402318083 0 61 39
466.50483066620757 0 62 38
466.4160869361019 0 63 37
466.34935387982665 0 64 36
466.30441033424495 0 65 35
466.2808485723279 0 66 34
466.278342441657 0 67 33
466.1397722632269 1 59 40
465.9995194483221 1 60 39
465.8796631739925 1 61 38
465.7803349076436 1 62 37
465.7040690005528 1 63 36
465.6495673989873 1 64 35
465.61704452608933 1 65 34
465.6063228743936 1 66 33
465.54416824138116 2 58 40
465.3949987683804 2 59 39
465.2668955203678 2 60 38
465.158194167898 2 61 37
465.0710755016055 2 62 36
465.0068404163174 2 63 35
464.9646247150109 2 64 34
464.9446104035812 2 65 33
464.802199245664 3 58 39
464.664895859857 3 59 38
464.54813857843857 3 60 37
464.45180392413835 3 61 36
464.37682302948934 3 62 35
464.3248017294951 3 63 34
464.2962596604982 3 64 33
464.29119788299414 3 65 32
464.2208813435746 4 57 39
464.07554460242835 4 58 38
463.94979298613777 4 59 37
463.84395205209574 4 60 36
463.76115581936835 4 61 35
463.6996702726864 4 62 34
463.6616275867827 4 63 33
463.6462342937257 4 64 32
463.4967719394959 5 57 38
463.3629166094713 5 58 37
463.2487341309198 5 59 36
463.1564249398546 5 60 35
463.0862100499059 5 61 34
463.0398011965906 5 62 33
463.014249463441 5 63 32
463.0124053833088 5 64 31
462.92871752960036 6 56 38
462.7866154554106 6 57 37
462.66476118587116 6 58 36
462.56406355110704 6 59 35
462.48453189168583 6 60 34
462.4284171254742 6 61 33
462.39485166767 6 62 32
462.38246498377947 6 63 31
462.37168196578233 7 55 38
462.2217000292352 7 56 37
462.0909470131025 7 57 36
461.9825521294819 7 58 35
461.89495525849145 7 59 34
461.8294881442631 7 60 33
461.7865493489382 7 61 32
461.76522215533527 7 62 31
461.6691972175099 8 55 37
461.5289833248577 8 56 36
461.41141347792177 8 57 35
461.31590961857063 8 58 34
461.2417128736073 8 59 33
461.19067085025193 8 60 32
461.16097418858857 8 61 31
461.15370845827016 8 62 30
461.12593656136136 9 54 37
460.97819294171285 9 55 36
460.8506914946386 9 56 35
460.7478318868147 9 57 34
460.66567071038406 9 58 33
460.6062023597705 9 59 32
460.56788799984685 9 60 31
460.55176927887163 9 61 30
460.43718450384944 10 54 36
460.30202027074364 10 55 35
460.19019793485137 10 56 34
460.1002337877041 10 57 33
460.032815809807 10 58 32
459.98677862257955 10 59 31
459.96220814955535 10 60 30
459.9599827732912 10 61 29
459.91051415503654 11 53 36
459.765594180304 11 54 35
459.64446140918346 11 55 34
459.54570778792174 11 56 33
459.4699142411017 11 57 32
459.4162636505086 11 58 31
459.38503288967667 11 59 30
459.3754722182415 11 60 29
459.24310904405127 12 53 35
459.1117120482866 12 54 34
459.0040737110388 12 55 33
458.91932024375825 12 56 32
458.85709949317953 12 57 31
458.8176865307019 12 58 30
458.8004940508012 12 59 29
458.734629883719 13 52 35
458.5922599392319 13 53 34
458.4752368235316 13 54 33
458.3812644259576 13 55 32
458.3101908100789 13 56 31
458.2619303491325 13 57 30
458.2378921104629 13 58 29
458.2352729873476 13 59 28
458.0879066395817 14 52 34
457.9599076159221 14 53 33
457.85637846086223 14 54 32
457.7768006151952 14 55 31
457.7193231063022 14 56 30
457.68759171932635 14 57 29
457.677054409692 14 58 28
457.5979564763314 15 51 34
457.45859233773837 15 52 33
457.34499168684135 15 53 32
457.2558676053651 15 54 31
457.1905282722507 15 55 30
457.1497053052678 15 56 29
457.1311066543765 15 57 28
457.12293960791817 16 50 34
456.97371891864856 16 51 33
456.84913998958586 16 52 32
456.7492154820432 16 53 31
456.67498992912294 16 54 30
456.62566501451306 16 55 29
456.5986078783987 16 56 28
456.59453717690974 16 57 27
456.5032102774 17 50 33
456.3680678140453 17 51 32
456.25828977394235 17 52 31
456.173410847225 17 53 30
456.11461991295397 17 54 29
456.08035076486556 17 55 28
456.0681610163058 17 56 27
456.04448799086066 18 49 33
455.90057349133036 18 50 32
455.7814526503773 18 51 31
455.6864889892103 18 52 30
455.61764453359166 18 53 29
455.5743267085836 18 54 28
455.5544661005672 18 55 27
455.44642900013514 19 49 32
455.31766242773034 19 50 31
455.2127680050202 19 51 30
455.13329572570063 19 52 29
455.0797716708985 19 53 28
455.0525168204533 19 54 27
455.05068872407276 19 55 26
455.00456581002794 20 48 32
454.8679971629249 20 49 31
454.75343471223425 20 50 30
454.66303596928697 20 51 29
454.600065594091 20 52 28
454.5622830994152 20 53 27
454.55212507322875 20 54 26
454.43002077161975 21 48 31
454.30764330594917 21 49 30
454.2074281496958 21 50 29
454.1340348902543 21 51 28
454.0870353193107 21 52 27
454.06672544562934 21 53 26
454.00598554282504 22 47 31
453.87459631637086 22 48 30
453.76530162339856 22 49 29
453.68069765518146 22 50 28
453.6255754982146 22 51 27
453.5965377876272 22 52 26
453.59309538151473 22 53 25
453.4549447736884 23 47 30
453.33651489918174 23 48 29
453.24178943116556 23 49 28
453.1772350262787 23 50 27
453.1393704106537 23 51 26
453.12680473005145 23 52 25
453.049310147204 24 46 30
452.92202002465905 24 47 29
452.8187539918091 24 48 28
452.74263508459796 24 49 27
452.6945588346522 24 50 26
452.67380027832945 24 51 25
452.65813822874816 25 45 30
452.52105513032456 25 46 29
452.4096161238606 25 47 28
452.3240663090892 25 48 27
452.2663323915231 25 49 26
452.23543300209326 25 50 25
452.2297331475008 25 51 24
452.13627272543044 26 45 29
452.0150954628244 26 46 28
451.9205811012102 26 47 27
451.85313782589714 26 48 26
451.8128569496385 26 49 25
451.79834052607896 26 50 24
451.7678227689897 27 44 29
451.63710751597733 27 45 28
451.53251051504174 27 46 27
451.45579047115535 27 47 26
451.405577594136 27 48 25
451.38048048160266 27 49 24
451.2754759780959 28 44 28
451.1605876694828 28 45 27
451.0736142212196 28 46 26
451.0142125970365 28 47 25
450.979518020621 28 48 24
450.970749357977 28 49 23
450.93169423004707 29 43 28
450.80596023173086 29 44 27
450.7075596723479 29 45 26
450.6368042244748 29 46 25
450.59386588982215 29 47 24
450.5764363813474 29 48 23
450.46694449657093 30 43 27
450.3566807421834 30 44 26
450.2767500491504 30 45 25
450.2242787880532 30 46 24
450.19747559550535 30 47 23
450.1969527253891 30 48 22
450.14130838050636 31 42 27
450.02281768040774 31 43 26
449.93101165832957 31 44 25
449.86946510662597 31 45 24
449.83372846434463 31 46 23
449.8232716041088 31 47 22
449.70191086808285 32 42 26
449.60003332113376 32 43 25
449.5273711448311 32 44 24
449.48327100286764 32 45 23
449.4638213290336 32 46 22
449.39581235092896 33 41 26
449.28375811629326 33 42 25
449.1996661050432 33 43 24
449.1459926643528 33 44 23
449.1178368464716 33 45 22
449.11475253531216 33 46 21
449.1051747937785 34 40 26
448.9835808622154 34 41 25
448.8888844526917 34 42 24
448.8247044845028 34 43 23
448.78703985374204 34 44 22
448.77472350749315 34 45 21
448.69934378468173 35 40 25
448.59417203216515 35 41 24
448.51924159900597 35 42 23
448.4723298801165 35 43 22
448.45041011974496 35 44 21
448.4325631412391 36 39 25
448.3167165121298 36 40 24
448.22937202272516 36 41 23
448.17242597290584 36 42 22
448.1406366999909 36 43 21
448.1357063806998 36 44 20
448.05599547172307 37 39 24
447.9581651361569 37 40 23
447.8888071740082 37 41 22
447.8470670309804 37 42 21
447.83266784073936 37 43 20
447.8102853254567 38 38 24
447.7028066529918 38 39 23
447.62118332584095 38 40 22
447.56764436616805 38 41 21
447.5439849578941 38 42 20
447.46058910994776 39 38 23
447.3690578405601 39 39 22
447.3051214192631 39 40 21
447.26964413645345 39 41 20
447.26560851492155 39 42 19
447.2334949025176 40 37 23
447.1321404897365 40 38 22
447.0586285773775 40 39 21
447.01249424525304 40 40 20
446.99648015453784 40 41 19
446.91174429504156 41 37 22
446.82827256177717 41 38 21
446.7727458586681 41 39 20
446.7450752271405 41 40 19
446.7083914546821 42 36 22
446.61457384511544 42 37 21
446.54939959993135 42 38 20
446.51220225787625 42 39 19
446.50467782922016 42 40 18
446.4167066253471 43 36 21
446.3416632413162 43 37 20
446.2946341667733 43 38 19
446.2782840628722 43 39 18
446.2361423522808 44 35 21
446.1491868076688 44 36 20
446.0931218798923 44 37 19
446.0663582069414 44 38 18
445.97473784956475 45 35 20
445.90733463525544 45 36 19
445.8700854078217 45 37 18
445.86263834606035 45 38 17
445.81552093915326 46 34 20
445.73702972360667 46 35 19
445.68896667080884 46 36 18
445.6713038202562 46 37 17
445.58441152692336 47 34 19
445.52498027218275 47 35 18
445.4963296972888 47 36 17
445.4500158641147 48 33 19
445.37919206681477 48 34 18
445.3400157564187 48 35 17
445.33090411568395 48 36 16
445.2530439281801 49 33 18
445.202597120553 49 34 17
445.1826958444201 49 35 16
445.14467670369186 50 32 18
445.08324587575004 50 33 17
445.05347696428447 50 34 16
444.9827408456659 51 32 17
444.94335493943987 51 33 16
444.93658369534637 51 34 15
444.9013391493499 52 31 17
444.85186915395576 52 32 16
444.83349844162274 52 33 15
444.77929217800266 53 31 16
444.75056794589483 53 32 15
444.72315900306995 54 30 16
444.6859284046768 54 31 15
444.67468598981384 54 32 14
444.6354206695053 55 30 15
444.6163286911081 55 31 14
444.600456171442 56 29 15
444.57349886283765 56 30 14
444.5462196028961 57 29 14
444.5387894006306 57 30 13
444.5337299229967 58 28 14
444.5172273571455 58 29 13
444.5115978711374 59 28 13

In [167]:
df_oof['pred'] = minA/100*df_oof['ctb_pred']+minB/100 * \
    df_oof['xgb_pred'] + minC/100 * df_oof['lgb_pred']
mae = mean_absolute_error(df_oof['price'], df_oof['pred'])
print('mae:', mae)

mae: 444.5115978711374

In [168]:
df_sub_lgb = pd.read_csv('lgb.csv')
df_sub_xgb = pd.read_csv('xgb.csv')
df_sub_ctb = pd.read_csv('ctb.csv')

In [169]:
df_sub_xgb.head()

   SaleID        price
0  200000  1263.522947
1  200001  1986.425167
2  200002  8603.206575
3  200003   999.216484
4  200004  2018.290815

In [170]:
df_sub_lgb.columns = ['SaleID', 'lgb_pred']
df_sub_xgb.columns = ['SaleID', 'xgb_pred']
df_sub_ctb.columns = ['SaleID', 'ctb_pred']

In [171]:
df_sub = df_sub_xgb.merge(df_sub_lgb, on='SaleID', how='left')\
    .merge(df_sub_ctb, on='SaleID', how='left')

In [172]:
df_sub

       SaleID      xgb_pred      lgb_pred      ctb_pred
0      200000   1263.522947   1260.218549   1255.680901
1      200001   1986.425167   1946.626806   1951.761372
2      200002   8603.206575   8230.200990   8759.420316
3      200003    999.216484   1120.572405   1023.983630
4      200004   2018.290815   1994.787633   2013.304828
...       ...           ...           ...           ...
49995  249995   6803.205552   6664.589004   6842.813400
49996  249996  18631.963031  19527.794862  18672.283895
49997  249997   5585.519375   5849.409862   5524.424173
49998  249998   4830.471993   4984.024826   4831.917635
49999  249999   4887.128996   5112.459048   5007.416633

[50000 rows x 4 columns]

In [173]:
df_sub['price'] = minA/100*df_sub['ctb_pred']+minB/100 * \
    df_sub['xgb_pred'] + minC/100 * df_sub['lgb_pred']

In [174]:
del df_sub['xgb_pred']
del df_sub['ctb_pred']
del df_sub['lgb_pred']
df_sub.to_csv('ronghe.csv', index=False, encoding='utf-8')